
    <div class="common-box recovery-box">
        <div class="box main1">
            <dl>
                <dt>1.微信登录</dt>
                <dd>手机登录微信，关注“<i>美好家园智能社区</i>”微信公众号</dd>
            </dl>
        </div>
        <div class="box main2">
            <dl>
                <dt>2.身份认证</dt>
                <dd>输入居住小区、姓名、手机等信息，注认证垃圾分类账户</dd>
            </dl>
        </div>
        <div class="box main3">
            <dl>
                <dt>3.发起回收</dt>
                <dd>点击“<i>美好家园智能社区</i>”微信公众号的“<i>发起回收</i>”按钮</dd>
            </dl>
        </div>
        <div class="box main4">
            <dl>
                <dt>4.积分兑换/提现</dt>
                <dd>您可以办理专属会员卡直接提取现金，也可以使用积分兑换积分商品</dd>
            </dl>
        </div>
    </div>

